.example-container {
  height: calc(100dvh - 64px);
  padding-top: 10px;
}
mat-sidenav {
  width: 250px;
  background: rgb(63, 81, 161);
  color: #fff;
}
a,mat-icon{
  text-decoration: none;
  color: #fff;
}
.example-spacer {
  flex: 1 1 auto;
}
.active {
  background-color: rgb(35, 100, 229);
  border-right: 5px solid rgb(255, 255, 255);
}

