<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h1>รายการสินค้า</h1>
      <button mat-raised-button color="primary" routerLink="/product-add">
        <mat-icon>add</mat-icon>
        เพิ่มสินค้า
      </button>
    </div>
  </div>
  <mat-card class="p-3 mb-3">
    <div class="row">
      <h2>ค้นหารายการสินค้า</h2>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>สินค้า</mat-label>
          <input matInput type="search">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>หมวดหมู่</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>สถานะ</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">กำลังขาย</mat-option>
            <mat-option value="2">แก้ไข</mat-option>
            <mat-option value="3">ยกเลิก</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-card class="p-3">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ลำดับ</th>
              <th>สินค้า</th>
              <th>หมวดหมู่</th>
              <th>จำนวน / หน่วย</th>
              <th>สถานะ</th>
              <th>ข้อมูล</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="
                let i of data | paginate : { itemsPerPage: 10, currentPage: p }; let index=index
              ">
              <tr>
                <!-- <td style="width: 20%;"><img src="{{i.img}}" alt=""></td> -->
                <td>{{ index + 1 }}</td>
                <td class="text-start">{{ i.productName }}</td>
                <td>{{ i.category }}</td>
                <td>{{ i.quantity }}</td>
                <td>
                  <span *ngIf="i.status === '1'" class="badge text-bg-success">กำลังขาย</span>
                  <span *ngIf="i.status === '2'" class="badge text-bg-warning">แก้ไข</span>
                  <span *ngIf="i.status === '0'" class="badge text-bg-danger">ยกเลิก</span>
                </td>
                <td>
                  <button mat-raised-button routerLink="/product-edit/{{ i.id }}">
                    <mat-icon>edit</mat-icon>
                    แก้ไข
                  </button>
                  &nbsp;
                  <button mat-raised-button color="warn" (click)="deleteitem(i.id)">
                    <mat-icon>delete</mat-icon>
                    ลบ
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>
  </mat-card>
</div>